<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="db.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="abbEntities" connectionString="metadata=res://*/dbm.csdl|res://*/dbm.ssdl|res://*/dbm.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL-SVR\MSSQLR2;Initial Catalog=abb;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="db.Properties.Settings.abbConnectionString" connectionString="Data Source=dd2a\sqlexpress;Initial Catalog=abb;Integrated Security=True;Application Name=FileMonitor;Max Pool Size=200;Net=dbmsrpcn;Packet Size=1024;" providerName="System.Data.SqlClient"/>
    <add name="db.Properties.Settings.abbConnectionString1" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=abb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <db.Properties.Settings>
      <setting name="CommandTimeout" serializeAs="String">
        <value>3600</value>
      </setting>
    </db.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
